* { box-sizing: border-box; }

body { margin: 0; font-family: 'Open Sans', sans-serif; text-align: center; }

.container { width: 100%; max-width: 1200px; margin: 20px auto; }

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

.invisible { visibility: hidden; }

.header { margin: 20px auto; margin-top: 15px; text-transform: uppercase; font-size: 50px; font-weight: 800; line-height: 55px; }

.headerSpan1 { color: #747d8c; font-family: "Exo 2", sans-serif; font-size: 80px; text-transform: none; }

.headerSpan2 { color: #ffa502; }

.headerSpan3 { color: #2ed573; }

.headerSpan4 { color: #1e90ff; }

.newGameBtn { height: 70px; width: 350px; cursor: pointer; border: 4px solid #ff7f50; border-radius: 25px; font-family: "Exo 2", sans-serif; font-weight: bold; font-size: 25px; color: #ff7f50; background-image: linear-gradient(90deg, #ff7f50 50%, transparent 50%); background-color: inherit; background-position: 100% 0; background-size: 300%; transition: 0.4s; }

.newGameBtn:hover { background-position: 0 100%; color: #fff; }

.result { height: 80px; width: 600px; margin: 0 auto; font-family: "Exo 2", sans-serif; font-size: 25px; color: #747d8c; border: 4px solid; border-radius: 25px; }

.outputResult { font-size: 20px; font-weight: 700; color: #747d8c; }

[class^="btn"] { display: inline-block; position: relative; margin: 0 20px; padding: 0; height: 170px; width: 170px; cursor: pointer; border: 4px solid; border-radius: 25px; font-weight: bold; font-size: 110px; background-color: inherit; background-position: 100% 0; background-size: 300%; transition: 0.4s; }

[class^="btn"]:hover { background-position: 0 100%; color: #fff; }

.fas { position: absolute; top: 50%; left: none; right: 50%; transform: translate(50%, -50%); }

.btnRock { color: #ffa502; border-color: #ffa502; background-image: linear-gradient(135deg, #ffa502 50%, transparent 50%); }

.btnPaper { color: #2ed573; border-color: #2ed573; background-image: linear-gradient(45deg, #2ed573 50%, transparent 50%); }

.btnScissors { color: #1e90ff; border-color: #1e90ff; background-image: linear-gradient(135deg, #1e90ff 50%, transparent 50%); }

.modal { display: none; color: #747d8c; border: 4px solid #ff7f50; border-radius: 25px; width: 600px; background: #fff; line-height: 18px; margin: auto; }

.modalWrapper { margin: 15px auto; width: 570px; max-height: 400px; overflow-y: auto; flex-wrap: wrap; }

.modalRow { padding: 5px; }

.modal_label { font-size: 22px; font-weight: 700; }

.modal_input { width: 120px; height: 30px; font-size: 14px; border-radius: 10px; }

.modal_button { cursor: pointer; background: none; color: #2ed573; margin-top: 10px; font-size: 25px; font-weight: 600; border-width: 3px; border-color: #2ed573; border-radius: 10px; }

.modal_button:hover { background: #2ed573; color: #fff; }

.modal_button:disabled { cursor: auto; background: none; color: #2ed573; }

.modalClose { display: flex; text-decoration: none; justify-content: flex-end; margin-right: 10px; font-size: 20px; font-weight: 700; color: #747d8c; }

.modalHeader { width: 100%; padding: 10px; font-size: 18px; font-weight: 700; color: #ff7f50; }

.modal .modalTable { margin: 10px; }

.modal .modalTable_header { font-weight: 600; padding: 5px; display: flex; justify-content: space-between; border: 3px solid #2ed573; border-bottom: none; border-top-right-radius: 8px; border-top-left-radius: 8px; }

.modal .modalTable_content { padding: 5px; display: flex; justify-content: space-between; border: 3px solid #2ed573; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }

.modal .modalTable_column { display: flex; flex-direction: column; justify-content: space-around; }

.show { display: flex; }

::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 5px; background-color: #fff; }

::-webkit-scrollbar { width: 14px; border-radius: 5px; background-color: #fff; }

::-webkit-scrollbar-thumb { border-radius: 5px; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); background-color: #747d8c; }

.copyright { color: #747d8c; }

.copyrightLink { color: #747d8c; text-decoration: none; }

@media (max-width: 767px) { .container { margin: 20px auto; }
  .header { line-height: 40px; font-size: 26px; }
  .headerSpan1 { font-size: 55px; }
  .newGameBtn { width: 200px; background: none; font-size: 22px; }
  .newGameBtn:hover { color: #ff7f50; }
  .result { width: 290px; font-size: 22px; }
  .outputResult { font-size: 14px; }
  [class^="btn"] { margin: 5px 5px; height: 86px; width: 86px; font-size: 55px; background: none; }
  .btnRock:hover { color: #ffa502; }
  .btnPaper:hover { color: #2ed573; }
  .btnScissors:hover { color: #1e90ff; }
  .modal { width: 290px; }
  .modalWrapper { margin: 10px auto; width: 260px; }
  .modalHeader { font-size: 16px; }
  .modal .modalTable { margin: 5px; }
  .modal .modalTable_header { font-size: 14px; }
  .modal .modalTable_content { font-size: 12px; }
  .modal_button { width: 80px; }
  .copyright { font-size: 14px; } }

/*media*/
